<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="idempiere-8.2" sequenceNumber="92">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.adempiere.base.feature.feature.group"/>
		<unit id="org.adempiere.payment.processor.feature.feature.group"/>
		<unit id="org.adempiere.pipo.feature.feature.group"/>
		<unit id="org.adempiere.replication.feature.feature.group"/>
		<unit id="org.adempiere.replication.server.feature.feature.group"/>
		<unit id="org.adempiere.report.jasper.feature.feature.group"/>
		<unit id="org.adempiere.server.feature.feature.group"/>
		<unit id="org.adempiere.ui.zk.feature.feature.group"/>
		<unit id="org.compiere.db.provider.feature.feature.group"/>
		<unit id="org.eclipse.equinox.executable.feature.group"/>
		<unit id="org.idempiere.eclipse.platform.feature.feature.group"/>
		<unit id="org.idempiere.equinox.p2.director.feature.feature.group"/>
		<unit id="org.idempiere.felix.webconsole.feature.feature.group"/>
		<unit id="org.idempiere.hazelcast.service.feature.feature.group"/>
		<unit id="org.idempiere.zk.feature.feature.group"/>
		<repository location="file:../iDempiere8.2/org.idempiere.p2/target/repository"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://raw.githubusercontent.com/hieplq/idempiere.artifact/cxf-3.3.1-service.client/m2p/org.idempiere.webservice.client"/>
		<unit id="com.sun.istack.commons-runtime" version="3.0.8"/>
		<unit id="com.sun.istack.commons-runtime.source" version="3.0.8"/>
		<unit id="com.sun.org.apache.xml.internal.resolver" version="20050927.0.0"/>
		<unit id="com.sun.org.apache.xml.internal.resolver.source" version="20050927.0.0"/>
		<unit id="com.sun.xml.bind.external.rngom" version="2.3.2"/>
		<unit id="com.sun.xml.bind.external.rngom.source" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-impl" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-impl.source" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-jxc" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-jxc.source" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-osgi" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-osgi.source" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-xjc" version="2.3.2"/>
		<unit id="com.sun.xml.bind.jaxb-xjc.source" version="2.3.2"/>
		<unit id="com.sun.xml.fastinfoset.FastInfoset" version="1.2.16"/>
		<unit id="com.sun.xml.fastinfoset.FastInfoset.source" version="1.2.16"/>
		<unit id="com.sun.xml.messaging.saaj.impl" version="1.5.2.b01"/>
		<unit id="com.sun.xml.messaging.saaj.impl.source" version="1.5.2.b01"/>
		<unit id="com.sun.xml.stream.buffer.streambuffer" version="1.5.7"/>
		<unit id="com.sun.xml.stream.buffer.streambuffer.source" version="1.5.7"/>
		<unit id="com.sun.xml.ws.jaxws-rt" version="2.3.2"/>
		<unit id="com.sun.xml.ws.jaxws-rt.source" version="2.3.2"/>
		<unit id="com.sun.xml.ws.policy" version="2.7.6"/>
		<unit id="com.sun.xml.ws.policy.source" version="2.7.6"/>
		<unit id="jakarta.jws-api" version="1.1.1"/>
		<unit id="jakarta.jws-api.source" version="1.1.1"/>
		<unit id="jakarta.xml.bind-api" version="2.3.2"/>
		<unit id="jakarta.xml.bind-api.source" version="2.3.2"/>
		<unit id="jakarta.xml.soap-api" version="1.4.1"/>
		<unit id="jakarta.xml.soap-api.source" version="1.4.1"/>
		<unit id="jakarta.xml.ws-api" version="2.3.2"/>
		<unit id="jakarta.xml.ws-api.source" version="2.3.2"/>
		<unit id="javax.interceptor-api" version="1.2.2"/>
		<unit id="javax.interceptor-api.source" version="1.2.2"/>
		<unit id="net.sf.ehcache" version="2.10.6"/>
		<unit id="net.sf.ehcache.source" version="2.10.6"/>
		<unit id="org.apache.commons.commons-codec" version="1.14.0"/>
		<unit id="org.apache.commons.commons-codec.source" version="1.14.0"/>
		<unit id="org.apache.cxf.cxf-rt-security-saml" version="3.3.1"/>
		<unit id="org.apache.cxf.cxf-rt-security-saml.source" version="3.3.1"/>
		<unit id="org.apache.cxf.cxf-rt-ws-mex" version="3.3.1"/>
		<unit id="org.apache.cxf.cxf-rt-ws-mex.source" version="3.3.1"/>
		<unit id="org.apache.cxf.cxf-rt-ws-security" version="3.3.1"/>
		<unit id="org.apache.cxf.cxf-rt-ws-security.source" version="3.3.1"/>
		<unit id="org.apache.santuario.xmlsec" version="2.1.4"/>
		<unit id="org.apache.santuario.xmlsec.source" version="2.1.4"/>
		<unit id="org.apache.wss4j.wss4j-bindings" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-bindings.source" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-policy" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-policy.source" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-common" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-common.source" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-dom" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-dom.source" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-policy-stax" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-policy-stax.source" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-stax" version="2.2.4"/>
		<unit id="org.apache.wss4j.wss4j-ws-security-stax.source" version="2.2.4"/>
		<unit id="org.glassfish.external.management-api" version="3.2.1"/>
		<unit id="org.glassfish.external.management-api.source" version="3.2.1"/>
		<unit id="org.glassfish.gmbal.gmbal" version="4.0.0"/>
		<unit id="org.glassfish.gmbal.gmbal.source" version="4.0.0"/>
		<unit id="org.glassfish.ha.ha-api" version="3.1.12"/>
		<unit id="org.glassfish.ha.ha-api.source" version="3.1.12"/>
		<unit id="org.glassfish.jaxb.txw2" version="2.3.2"/>
		<unit id="org.glassfish.jaxb.txw2.source" version="2.3.2"/>
		<unit id="org.glassfish.pfl.pfl-asm" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-asm.source" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-basic" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-basic.source" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-dynamic" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-dynamic.source" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-tf" version="4.0.1"/>
		<unit id="org.glassfish.pfl.pfl-tf.source" version="4.0.1"/>
		<unit id="org.jasypt" version="1.9.3"/>
		<unit id="org.jasypt.source" version="1.9.3"/>
		<unit id="org.jvnet.mimepull" version="1.9.11"/>
		<unit id="org.jvnet.mimepull.source" version="1.9.11"/>
		<unit id="org.jvnet.staxex.stax-ex" version="1.8.1"/>
		<unit id="org.jvnet.staxex.stax-ex.source" version="1.8.1"/>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>
