<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="idempiere-10" sequenceNumber="92">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.adempiere.base.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.payment.processor.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.pipo.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.replication.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.replication.server.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.report.jasper.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.server.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.adempiere.ui.zk.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.compiere.db.provider.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1500.v20220210-1108"/>
		<unit id="org.idempiere.eclipse.platform.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.equinox.p2.director.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.felix.webconsole.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.hazelcast.service.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.test.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.webservices.feature.feature.group" version="10.0.0.202302081309"/>
		<unit id="org.idempiere.zk.feature.feature.group" version="10.0.0.202302081309"/>
		<repository location="file:/opt/Development2/Apps/idempiere-10/org.idempiere.p2/target/repository/"/>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.github.classgraph</groupId>
				<artifactId>classgraph</artifactId>
				<version>4.8.138</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeMode="slicer" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
	    <unit id="org.apache.httpcomponents.httpclient" version="4.5.13.v20210128-2225"/>
	    <unit id="org.apache.httpcomponents.httpcore" version="4.4.14.v20210128-2225"/>
	    <repository id="eclipse" location="https://download.eclipse.org/eclipse/updates/4.20"/>
   	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>