<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globalqss.process.LCO_DianExportXML"
         name="LCO_DianExportXML"
         point="org.adempiere.base.Process">
      <process
            class="org.globalqss.process.LCO_DianExportXML"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.globalqss.process.LCO_DianGenerateXML"
         name="LCO_DianGenerateXML"
         point="org.adempiere.base.Process">
      <process
            class="org.globalqss.process.LCO_DianGenerateXML"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.globalqss.process.LCO_DianProcessContent"
         name="LCO_DianProcessContent"
         point="org.adempiere.base.Process">
      <process
            class="org.globalqss.process.LCO_DianProcessContent"
            priority="0">
      </process>
   </extension>
</plugin>
