<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globalqss.model.LCO_ValidatorWH"
         name="LCO_ValidatorWH"
         point="org.adempiere.base.ModelValidator">
      <listener
            class="org.globalqss.model.LCO_ValidatorWH"
            priority="0">
      </listener>
   </extension>
   <extension
         id="org.globalqss.process.LCO_GenerateWithholding"
         name="LCO_GenerateWithholding"
         point="org.adempiere.base.Process">
      <process
            class="org.globalqss.process.LCO_GenerateWithholding"
            priority="0">
      </process>
   </extension>
   <extension
         id="org.globalqss.model.LCO_CalloutWithholding"
         name="LCO_CalloutWithholding"
         point="org.compiere.model.Callout">
      <callout
            class="org.globalqss.model.LCO_CalloutWithholding"
            prioriy="0">
      </callout>
   </extension>
</plugin>
