<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.globalqss.process.LCO_GenerateWithholding"
         name="LCO_GenerateWithholding"
         point="org.adempiere.base.Process">
      <process
            class="org.globalqss.process.LCO_GenerateWithholding"
            priority="0">
      </process>
   </extension>
</plugin>
